<!--  Project Layout Start -->

<!doctype html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>
    {% include navigation.html %}

    <section id="page" class="container content-section text-center">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
          {{ page.content | markdownify }}
          <hr>
          <div>
            <!-- Add new section here -->
            <section>
              <h3>Flappy Bird</h3>
              <p>
                <a href="https://bird.wilderdan.com/">Live</a> |
                <a href="https://github.com/WilderDan/flappy-bird">Code</a> |
                <a href="{{site.url }}/etc/2025/10/25/games.html">Blog</a>
              </p>
              <p>Another clone for practice.
              <p>
              <img src="../img/samples/flappy-bird.png" alt="sample pic" class="sample">
            </section>
            <hr>
            <section>
              <h3>Snake</h3>
              <p>
                <a href="https://snake.wilderdan.com/">Live</a> |
                <a href="https://github.com/WilderDan/snake">Code</a> |
                <a href="{{site.url }}/etc/2025/10/25/games.html">Blog</a> 
              </p>
              <p>My implementation of the game of Snake.
                Created using Godot 4.3. 
              <p>
              <img src="../img/samples/snake.png" alt="sample pic" class="sample">
            </section>
            <hr>
            <section>
              <h3>Pong</h3>
              <p>
                <a href="https://pong.wilderdan.com/">Live</a> |
                <a href="https://github.com/WilderDan/pong-clone">Code</a> |
                <a href="{{site.url }}/etc/2025/10/25/games.html">Blog</a>
              </p>
              <p>A clone of pong I made awhile ago using Godot 3.X. Several different modes available to play including computer vs computer which is more watching than playing.<p>
              <img src="../img/samples/pong.png" alt="sample pic" class="sample">
            </section>
            <hr>
            <section>
              <h3>Notebook</h3>
              <p>
                <a href="https://notes.wilderdan.com/">Live</a> |
                <a href="https://github.com/WilderDan/notebook">Code</a> |
                <a href="{{site.url }}/etc/2024/08/29/notebook-project.html">Blog</a>
              </p>
              <p>Project demonstrating use of a static site generator, LaTeX, and python code for solving some college level algebra problems</p>
              <img src="../img/samples/notebook.png" alt="sample pic" class="sample">
            </section>
            <hr>
            <section>
              <h3>Frostgrave Treasure Generator</h3>
              <p>
                <a href="https://fgtg.wilderdan.com">Live</a> |
                <a href="https://github.com/WilderDan/Treasure_Generator">Code</a> |
                <a href="{{ site.url }}/etc/2024/08/30/frostgrave-treasure-generator.html">Blog</a>
              </p>
              <p>A treasure generator for the tabletop game Frostgrave.</p>
              <img src="../img/samples/fgtg.png" alt="sample pic" class="sample">
            </section>
            <hr>
            <section>
              <h3>This Website</h3>
              <p>
                <a href="{{ site.url }}">Live</a> |
                <a href="https://github.com/WilderDan/personal-site">Code</a> |
                <a href="{{site.url }}/etc/2024/08/25/how-i-built-this-website.html">Blog</a>
              </p>
              <p>You're on it now!</p>
            </section>
            <hr>
            
          </div>
        </div>
      </div>
    </section>

    {% include footer.html %} 

    {% include js.html %}


  </body>
</html>

<!-- Projects Layout End -->
